<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="egg52.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <egg52.Properties.Settings>
            <setting name="BackgroudColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FormFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
        </egg52.Properties.Settings>
    </userSettings>
</configuration>